{% extends 'base.html.twig' %}

{% block body  %}
    <div class="row mb-3">
        <div class="col-md-12">
            <ul class="pagination justify-content-center">
                {% for p in range(1,totalPages) %}
                    <li class="page-item {{ currentPage == p ? 'active' : '' }}">
                        <a class="page-link" href="{{ path('catalog.index', {page: p }) }}?{{ params }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Search Characters
                </div>
                <div class="card-body">
                    {% include 'shared/filter_form.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Rick &amp; Morty Characters - <strong>Page: {{ currentPage }} of {{ totalPages }}</strong>
                </div>
                <div class="card-body">
                    {% if characters %}
                        {% for character in characters %}
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <img class="w-100 img-fluid" src="{{ character.image }}"/>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="h3">{{ character.name }}</h3>
                                    <p>URL: <a target="_blank" class="link-primary" href="{{ character.url }}">{{ character.url }}</a></p>
                                    <p>Location: {{ character.location.name }}</p>
                                    <p>Origin: {{ character.origin.name }}</p>
                                    <p>Type: {{ character.type == '' ? 'Unknown' : character.type }}</p>
                                    <p>Gender: {{ character.gender }}</p>
                                    <p>Species: {{ character.species }}</p>
                                    <p>Status: {{ character.status }}</p>
                                    {% if character.episodeIds.count() > 0 %}
                                        <p><a href="{{ path('catalog.episodes', {'characterId' : character.id, 'episodeIds' : character.episodeIds|join(',')}) }}">View Episodes</a></p>
                                    {% else %}
                                        <p>No Episodes Available</p>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            No Characters Were Found
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <ul class="pagination justify-content-center">
                {% for p in range(1,totalPages) %}
                    <li class="page-item {{ currentPage == p ? 'active' : '' }}">
                        <a class="page-link" href="{{ path('catalog.index', {page: p })}}?{{ params }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
